<div class="contents row">
  <div class="container">
    <h2>Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :nickname %> <em>(40 characters maximum)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "40" %>
      </div>

      <div class="field">
        <%= f.label :last_name %> <em>(20 characters maximum)</em><br />
        <%= f.text_field :last_name, autofocus: true, maxlength: "20" %>
      </div>

      <div class="field">
        <%= f.label :last_name_kana %> <em>(20 characters maximum)</em><br />
        <%= f.text_field :last_name_kana, autofocus: true, maxlength: "20" %>
      </div>

      <div class="field">
        <%= f.label :first_name %> <em>(20 characters maximum)</em><br />
        <%= f.text_field :first_name, autofocus: true, maxlength: "20" %>
      </div>

      <div class="field">
        <%= f.label :first_name_kana %> <em>(8 characters maximum)</em><br />
        <%= f.text_field :first_name_kana, autofocus: true, maxlength: "20" %>
      </div>

      <div class='input-birth-wrap'>
        <%= f.label :birth_day%> <br />
        <%= raw sprintf(
                    f.date_select(
                      :birth_day,class:'select-birth',
                      id:"birth-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: 1930,
                      end_year: (Time.now.year - 5),
                      date_separator: '%s'),
                    "<div> 年 </div>", "<div> 月 </div>") + "<div> 日 </div>" %>
      </div>
      <div class="field">
      <%= f.label :gender%> <br />
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"gender-category"}) %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>