<div class="contents row">
      <% @posts.each do |post| %>
        <div class='list'>
					<div class='item-img-content'>
						<%= image_tag post.image, class: "post-img" %>
							<li>
								<%= link_to '詳細', post_path(post.id), method: :get %>
							</li>
							<% if user_signed_in? && current_user.id == post.user_id %>
								<li>
									<%= link_to '削除', "/posts/#{post.id}", method: :delete %>
								</li>
								<li>
									<%= link_to '編集', edit_post_path(post.id), method: :get %>
								</li>
							<% end %>
						</div>
					</div>
					<div class='post-info'>
						<h3 class='cooking-name'>
							<%= post.cooking_name%>
						</h3>
						<div class='price'>
							<span><%= post.price %>円<br>
						</div>
						<div class='category-id'>
							<%= post.category.name %>
						</div>
					</div>
        </div>
      <% end %>
</div>