<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @post, local: true) do |form| %>
			<%= form.label "料理のジャンル", class: "p-label" %>
			<%= form.collection_select(:category_id, Category.all, :id, :name,  {class:"category-id"}) %>
      <%= form.text_field :cooking_name, placeholder: "料理名" %>
			<div>料理の画像</div>
      <%= form.file_field :image %>
      <%= form.text_area :impression, placeholder: "料理の感想" %>
			<%= form.text_area :price, placeholder: "料理の値段" %>
			<%= form.label "営業時間", class: "p-label" %>
			<%= form.time_field :opening, { prompt: true, ignore_data: true } %>　〜　<%= form.time_field :closing, { prompt: true, ignore_data: true } %>

			<div class="form-address">
				<%= form.label "都道府県", class: "p-label" %>
				<div class="form-address-content">
					<%= form.collection_select(:prefecture_id, Prefecture.all, :id, :name,  {class:"prefecture-id"}) %>
					<%= form.text_field :city, class: "address-text", placeholder: "市町村" %>
					<%= form.text_field :address, class: "address-text", placeholder: "番地" %>
					<%= form.text_field :building, class: "address-text", placeholder: "ビル名（任意）" %>
				</div>
			</div>

      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>