<div class="side-area">
    <p>カテゴリ</p>
    <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <p>カテゴリ</p>
    <%= search_form_for @q, url: post_category_path do |f| %>
        <%= f.collection_select :category_id_eq, Category.where.not(id: 0), :id, :name, include_blank: "料理のジャンル検索" %>
        <%= f.submit '検索' %>
    <% end %>
    <p>カテゴリ</p>
    <%= search_form_for @p, url: post_prefecture_path do |f| %>
        <%= f.collection_select :prefecture_id_eq, Prefecture.where.not(id: 0), :id, :name, include_blank: "都道府県名検索" %>
        <%= f.submit '検索' %>
    <% end %>
      </div>
<div class="content">
  <h3 class='cooking-name'>
    <%= @post.cooking_name%>
  </h3>
  <div class="more">
    <%= image_tag @post.image %>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class='select-SD'>
        <%= link_to '編集', edit_post_path(@post.id), method: :get %>
        <%= link_to '削除', post_path(@post.id), method: :delete %>
      </div>
    <% end %>
  </div>
  <div class='post-info'>
    <div class='impression'>
      <span>評価：<%= @post.impression %><br>
    </div>
    <div class='price'>
      <span>料金：<%= @post.price %>円<br>
    </div>
    <div class='category-id'>
      <span>ジャンル：<%= @post.category.name %><br>
    <div class='post-info'>
    <h3 class='store-name'>
      店名：<span><%= @post.store_name %><br>
    </h3>
    </div>
    <div class='opening-time'>
      <span>営業時間:<%= @post.opening.strftime( "%H:%M" ) %>〜<%= @post.closing.strftime( "%H:%M" ) %><br>
    </div>
    <div class='address'>
      <span>住所:<%= @post.prefecture.name %><%= @post.city %><%= @post.address %><%= @post.building %><br>
    </div>

  </div>

</div>