<div class="content-show">
  <h3 class='cooking-name'>
    <%= @post.cooking_name%>
  </h3>
  <div class="more">
    <%= image_tag @post.image %>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class='select-SD'>
        <%= link_to '編集', edit_post_path(@post.id), method: :get %>
        <%= link_to '削除', post_path(@post.id), method: :delete %>
      </div>
    <% end %>
  </div>
  <div class='post-info'>
    <div class='impression'>
      <span>評価：<%= @post.impression %><br>
    </div>
    <div class='price'>
      <span>料金：<%= @post.price %>円<br>
    </div>
    <div class='category-id'>
      <span>ジャンル：<%= @post.category.name %><br>
    </div>
    <div class='opening-time'>
      <span>営業時間:<%= @post.opening.strftime( "%H:%M" ) %>〜<%= @post.closing.strftime( "%H:%M" ) %><br>
    </div>
    <div class='address'>
      <span>住所:<%= @post.prefecture.name %><%= @post.city %><%= @post.address %><%= @post.building %><br>
    </div>

  </div>

</div>