<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>TakeoutSearch</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <header class="header">

        <h1 class="title-name"><a href="/">TakeOutSearch</a></h1>
        <% if user_signed_in? %>
          <div class="header-switch">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <%= link_to "投稿する", new_post_path, class: "post" %>
          </div>
        <% else %>

            <%= link_to "ログイン", new_user_session_path, class: "header-btn" %>
            <%= link_to "新規登録", new_user_registration_path, class: "header-btn" %>

        <% end %>

    </header>
    <main>
    
      <%= yield %>

    </main>
    <footer>
      <p>
      </p>
    </footer>
  </body>
</html>
